{
  "parser": "babel-eslint",
  "env": {
    "react-native/react-native": true
  },
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
